In [1]:
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "vine_table.csv"
vine_df = pd.read_csv(csv_path)

vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RSH1OZ87OYK92,2,2,3,N,N
1,R1WFOQ3N9BO65I,5,0,0,N,Y
2,R3YOOS71KM5M9,5,0,0,N,Y
3,R3R14UATT3OUFU,5,0,0,N,Y
4,RV2W9SGDNQA2C,5,0,0,N,Y

In [9]:
voted_rev_df = vine_df[vine_df['total_votes'] > 20]
voted_rev_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1594,R235HEIYY15NZX,1,0,26,N,Y
1640,R3BZ4DHX2YHC4V,1,1,32,N,Y

In [12]:
helpful_rev_df = voted_rev_df[(voted_rev_df['helpful_votes']/voted_rev_df['total_votes']) >= 0.5]
helpful_rev_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N

In [15]:
helpful_rev_df.shape

(1563, 6)

In [13]:
paid_rev_df = helpful_rev_df[helpful_rev_df['vine'] == 'Y']
paid_rev_df.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [14]:
unpaid_rev_df = helpful_rev_df[helpful_rev_df['vine'] == 'N']
unpaid_rev_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N

In [16]:
unpaid_rev_df.shape

(1563, 6)

In [ ]:
# At this point, it becomes apparent that all of the reviews in this dataset that were rated as sufficiently helpful came from users without paid Vine
# This is evident because the DF of helpful reviews by unpaid users has the same number of rows as the DF of all helpful reviews

In [18]:
# For the sake of completeness, here's the code that would find the requested statistics for paid Vine users, if there were any data to report:
paid_rev_df.shape[0]

0

In [22]:
# paid_rev_df['star_rating'].value_counts()[5] throws an error, presumably for lack of any data in the star rating column

In [17]:
#Determine the total number of reviews, 
unpaid_rev_df.shape[0]

1563

In [20]:
#the number of 5-star reviews
unpaid_rev_df['star_rating'].value_counts()[5]

582

In [27]:
#and the percentage of 5-star reviews for the two types of review (paid vs unpaid).
five_star_pct = round (unpaid_rev_df['star_rating'].value_counts()[5] / unpaid_rev_df.shape[0] * 100, 2)
print (f' Percent of unpaid reviews that were 5 stars: {five_star_pct} %')

 Percent of unpaid reviews that were 5 stars: 37.24 %